
<footer>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a routerLink="/rent">Rent</a></li>
                            <li><a routerLink="/contact">Contact us</a></li>
                          
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Location</h3>
                        <ul>
                            <li><a routerLink="/tokyo">Tokyo</a></li>
                            <li><a routerLink="/newyork">New York</a></li>
                            <li><a routerLink="/dublin">Dublin</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Giorgio Mastrotucci</h3>
                        <p>Esempio di frontend website deploy effettuato tramite Google Cloud Run per tesi triennale  </p>
                    </div>
                </div>
                <p class="copyright">Giorgio Mastrotucci © 2023</p>
            </div>
        </footer>
    </div>
    
</footer>