<div style="text-align: center;  margin:0 auto;">
  <h1 class="well">Submit Feedback</h1>
  <div class="container" style="text-align: center;  margin:0 auto">
    <div class="col-md-5">
      <div class="form-area" style="margin:0 auto">
        <form role="form" style="margin:0 auto">
          <br style="clear: both" />
          <h3 style="margin-bottom: 25px; text-align: center">Contact Form</h3>
          <div class="form-group">
            <input
              id="name"
              class="form-control"
              name="name"
              required=""
              type="text"
              placeholder="Name"
            />
          </div>
          <div class="form-group">
            <input
              id="email"
              class="form-control"
              name="email"
              required=""
              type="email"
              placeholder="Email"
            />
          </div>
          <div class="form-group">
            <input
              id="mobile"
              class="form-control"
              name="mobile"
              required=""
              type="phone"
              placeholder="Mobile Number"
            />
          </div>
          <div class="form-group">
            <input
              id="subject"
              class="form-control"
              name="subject"
              required=""
              type="text"
              placeholder="Subject"
            />
          </div>
          <div class="form-group">
            <textarea
              id="message"
              class="form-control"
              maxlength="140"
              name="message"
              rows="7"
              placeholder="Message"
            ></textarea>
          </div>
          <button
            id="submit"
            class="btn btn-primary pull-right"
            name="submit"
            type="button"
          >
            Submit Form
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
