<!--<div class="card mb-3" style="max-width: 700px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="..." class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>-->
  <div class="card-group">
    <div class="card">
      <img style="height:350px;width:500px;" src="https://images.unsplash.com/photo-1502672260266-1c1ef2d93688?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1680&q=80" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Apartment in New York city</h5>
        <p class="card-text">Ground apartment: around 40 mqs. with double bed (on request possibility to add another single bed), kitchenette and bathroom with shower.</p>
        <p class="card-text"><small class="text-muted">1500$/month</small> &nbsp; <a href="#" class="btn btn-outline-secondary">Rent</a></p>
      </div>
    </div>
    <div class="card">
      <img style="height:350px;width:500px;" src="https://images.unsplash.com/photo-1565182999561-18d7dc61c393?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDF8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=900&q=60" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Apartment in Dublin</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">1000$/month</small> &nbsp; <a href="#" class="btn btn-outline-secondary">Rent</a></p>
      </div>
    </div>
    <div class="card">
      <img style="height:350px;width:500px;" src="https://images.unsplash.com/photo-1669296585657-fe7b93122ed8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">2 bedroom house</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text" ><small class="text-muted">800$/month</small> &nbsp; <a href="#" class="btn btn-outline-secondary">Rent</a></p> 
      </div>
    </div>
  </div>
  <div class="card-group">
    <div class="card">
      <img style="height:350px;width:500px;" src="https://images.unsplash.com/photo-1502672260266-1c1ef2d93688?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1680&q=80" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Apartment in New York city</h5>
        <p class="card-text">Ground apartment: around 40 mqs. with double bed (on request possibility to add another single bed), kitchenette and bathroom with shower.</p>
        <p class="card-text"><small class="text-muted">1500$/month</small> &nbsp; <a href="#" class="btn btn-outline-secondary">Rent</a></p>
      </div>
    </div>
    <div class="card">
      <img style="height:350px;width:500px;" src="https://images.unsplash.com/photo-1565182999561-18d7dc61c393?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDF8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=900&q=60" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Apartment in dublin</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">1000$/month</small> &nbsp; <a href="#" class="btn btn-outline-secondary">Rent</a></p>
      </div>
    </div>
    <div class="card">
      <img style="height:350px;width:500px;" src="https://images.unsplash.com/photo-1669296585657-fe7b93122ed8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">House</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text" ><small class="text-muted">800$/month</small> &nbsp; <a href="#" class="btn btn-outline-secondary">Rent</a></p> 
      </div>
    </div>
  </div>