body, html {
    height: 100%;
  }
  
  .bg {
    /* The image used */
    background-image: url("jimmy-conover-dvurMDsj09Y-unsplash.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .d {
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }

  .centered {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
  }
  .one h1 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
  }