<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="https://www.udr.com/globalassets/markets/new-york-city/newyorkcity_1900x874_columbussquare_2018_drone1_wr.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>New York City</h5>
          </div>
    </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="https://www.italiajapan.net/img/s68/i4/tokyo-rainbow-bridge_27710159.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>Tokyo</h5>
          </div>  
    </div>
      <div class="carousel-item">
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/42/Samuel_Beckett_Bridge_At_Sunset_Dublin_Ireland_%2897037639%29_%28cropped%29.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>Dublin</h5>
            
          </div>  
    </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

 <!--<div class="d">
    <img class="bg" src="./jimmy-conover-dvurMDsj09Y-unsplash.jpg" alt="">
    <h1 class="centered">New website Coming Soon</h1>
  </div>-->